<div class="container mb-5">
  <h2 *ngIf="hotels && hotels.length > 0">{{title}}</h2>
  <button class="btn btn-primary mb-2 d-flex ml-3" (click)="toggleIsNewBadge()">
    <span class="material-icons">
      {{showBadge ? 'visibility_off' : 'visibility'}}
    </span>
    <span class="ml-5"> {{showBadge?'Cacher':'Afficher' }} Nouveau  </span>
    </button>
    <hr>
    <div class="my-2">
      <div class="row">
        <div class="col-md-4">

          <span class="filter">Filtre actuel:</span>
          <strong>{{hotelFilter}}</strong>

        </div>
        <div class="col-md-8 form-group">
          <input type="text" class="form-control" placeholder="Rechercher" [(ngModel)]="hotelFilter">


        </div>
      </div>
    </div>
  <div class="alert alert-primary" *ngIf="!!receivedRating">
    {{receivedRating}}
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col " *ngFor= "let hotel of filteredHotels">
      <div class="card h-100">
        <img [src]="hotel.imageUrl" [title]="hotel.hotelName | uppercase" class="card-img-top" [alt]="hotel.hotelName">
        <div class="card-body rounded">
          <h5 class="card-title"> {{hotel.hotelName| titlecase}} </h5>
          <p class="card-text">{{hotel.description}}</p>
          <h5 class="card-price ml-2">{{hotel.price | currency : 'XOF' : 'symbol' : '1.2-2' :'fr' | replaceComma }}</h5>
          <app-star-rating [rating]="hotel.rating" (starRatingClicked)="receiveRatingClicked($event)"></app-star-rating>
          <span class="badge rounded-pill bg-primary p-2" *ngIf="showBadge">Nouveau</span>
        </div>
      </div>
    </div>
  </div>

  